.container,
.hour,
.minute,
.second {
  display: flex;
  font-size: 18rem;
  font-family: 'Montserrat', sans-serif;
}

.hour,
.minute,
.second {
  background-color: #393939;
  border-radius:30px;
  padding: 0px 40px;
}

.number{
  text-align: center;
  min-width: 220px;
}

.container {
  margin: auto;
  width: 90%;
}

.ampm{
  font-size: 2rem;
  position: relative;
  bottom: 0px;
  margin-left: 10px;
  background-color: #393939;
  border-radius:10px;
  height: 100%;
  padding: 5px;
}